.about-heading h1{
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
}
.about h1{
    color: #186aff;

}
.about-heading p{
    text-align: center;
    font-size: 1.3rem;
    width: 40rem;
}
.about-heading{
    margin-top: 150px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
}
.about-components{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-components h1{
    font-size: 2.8rem;
    font-weight: 800;
}
.about-end-content{
    width: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.about-end-para{
    margin-top: 30px;
    /* font-size: 1rem; */
}
@media (max-width: 600px) {
    .about-heading h1{
        font-size: 4rem;
        font-weight: 900;
    }
    .about-heading p{
        text-align: center;
        font-size: 1rem;
        width: 22rem;
    }
    .about-end-content{
        width: auto;
    }
}
.about-comp-content{
    background-color: rgba(50, 50, 50, 0.397);
    border-radius: 20px;
    padding: 2.5vw;
    width: 38vw;
    margin: 50px 4vw;
    position: relative;
}
.about-comp{
    position: relative;
    width: 100vw;
}
.line-fill{
    height: 100%;
    right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}
.vr-circle-container{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(46, 45, 45, 0.527);
}
.vr-circle{
    width: 100%;
    height: 100%;
}
.vr-circle-fill{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: white;
}
.vr-container{
    height: 90%;
    width: 5px;
    background-color: rgba(46, 45, 45, 0.527);
    position: relative;
}
.vr-fill{
    position: absolute;
    width: 100%;
    height: 0;
    background-color: white;
}