.add-course-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;
    gap: 9px;
}
.add-course-main input{
    height: 2rem;
    padding: 4px 8px;
    border: 4px solid white;
    border-radius: 3px;
    width: 60vw;
}
.add-course-main input:focus{
    outline: none;
    border: 3px solid #186aff;
}
.add-course-main select{
    padding: 4px 8px;
    height: 2rem;
    border-radius: 3px;
    border: none;
    width: 60vw;
}
.add-course-main button{
    max-width: 150px;
    cursor: pointer;
    padding: 4px 8px;
    height: 2rem;
    color: white;
    background-color: #186aff;
    border: none;
    outline: none;
    border-radius: 3px;
}
.selected-prereqs{
    margin-left: 20px;
}
.selected-prereqs #prereqs-list{
    margin: 10px 70px 0px 20px;
    list-style: disc;
}
.removeCourse{
    font-size: 2.5rem;
    color: rgb(255, 65, 65);
    cursor: pointer;
    position: relative;
    left: 70px;
    bottom: -0.4rem;
}
.course-error{
    text-align: center;
    margin: auto;
    width: 200px;
    color: red;
}
.course-page{
    margin-bottom: 70px;
}
.update-name{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.update-name div{
    display: flex;
    align-items: center;
    gap: 4px;
}
.update-name div input{
    height: auto;
    width: auto;
}